<tr class="product_property fields" id="spree_<%= dom_id(form.object) %>" data-hook="product_property">
  <td class="no-border">
    <span class="handle"></span>
    <%= form.hidden_field :id %>
    <%= form.hidden_field :category_name, value: cat_name %>
  </td>
  <td class='property_name'>
    <%= form.text_field :property_name, :class => 'autocomplete' %>
  </td>
  <td class='value'>
    <%= form.text_field :value %>
  </td>
  <td class="actions">
    <% if form.object.persisted? %>
      <%= link_to_delete form.object, :no_text => true %>
    <% end %>
  </td>
</tr>
