<%= render 'spree/admin/shared/product_sub_menu' %>
<%= render 'spree/admin/shared/product_tabs', :current => 'Product Properties' %>
<%= render 'spree/shared/error_messages', :target => @product %>

<% content_for :page_actions do %>
  <ul class="tollbar inline-menu">
    <li>
      <span id="new_ptype_link">
        <%= link_to Spree.t(:select_from_prototype), available_admin_prototypes_url, :remote => true, 'data-update' => 'prototypes', :class => 'button fa fa-copy' %>
      </span>
    </li>
  </ul>
<% end %>

<div class="category-edit-list">
  <div class="category-buttons">
    <a href="javascript:" class='button fa fa-plus add-category'>Add Category</a>
    <a href="javascript:" class='button fa fa-save save'>Save</a>
  </div>
</div>

<script type="text/template" id="category-editor-template">
  <div class='category-header'>
    <div class="js-category-handle category-handle"><i class="fa fa-bars"></i></div>
    <h2><input type="text" name="category_name" class='js-cat-name' value="{{ category_editor.category.name }}" /></h2>
    <div class='delete-link'>
      <a href="javascript:" class="button fa fa-trash js-delete-category">Delete</a>
    </div>
    <div class='add-property-link'>
      <a href="javascript:" class="button fa fa-plus js-add-property">Add Property</a>
    </div>
  </div>
  <table class='category-table js-category-table'>
    <thead>
      <th colspan='2'>Name</th>
      <th>Value</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>

<script type="text/template" id="property-editor-template">
  <td class='no-border'>
    <span class="handle"></span>
  </td>
<td><input name='key' type="text" class='js-key' value='{{ property_editor.property.key }}' /></td>
<td><input name='value' type="text" class='js-val' value='{{ property_editor.property.value }}' /></td>
<td class='actions'>
  <%= link_to_with_icon "trash", Spree.t(:delete), "javascript:", no_text: true, class: "js-delete-property" %>
</td>
</script>

<%= javascript_tag do -%>
  new PropertyEditPage($(".category-edit-list"), <%== @data %>, "<%= @product.to_param %>");
<% end %>
