<%= render 'spree/admin/shared/product_sub_menu' %>
<%= render 'spree/admin/shared/product_tabs', :current => 'Product Properties' %>
<%= render 'spree/shared/error_messages', :target => @product %>

<% content_for :page_actions do %>
  <ul class="tollbar inline-menu">
    <li>
      <span id="new_ptype_link">
        <%= link_to Spree.t(:select_from_prototype), available_admin_prototypes_url, :remote => true, 'data-update' => 'prototypes', :class => 'button fa fa-copy' %>
      </span>
    </li>
  </ul>
<% end %>

<div class="category-edit-list">
  <button class='add-category'>Add Category</button>
  <button class='save'>Save</button>
</div>

<script type="text/template" id="category-editor-template">
<h2><input type="text" name="category_name" class='js-cat-name' value="{{ category_editor.category.name }}" /></h2>
  <span class="deleteCategory">Delete</span>
  <span class="addProperty">Add Property</span>
  <table>
    <tbody>
    </tbody>
  </table>
</script>

<script type="text/template" id="property-editor-template">
<td>  <input name='key' type="text" class='js-key' value='{{ property_editor.property.key }}' /></td>
<td>  <input name='value' type="text" class='js-val' value='{{ property_editor.property.value }}' /></td>
<td> <button class="delete-property">Delete</button> </td>
</script>

<%= javascript_tag do -%>
  new PropertyEditPage($(".category-edit-list"), <%== @data %>, "<%= @product.to_param %>");
<% end %>
